.todo {
    width: 100%;
    height: calc(100vh - 50px);
    border-right-style: solid;
    border-right-color: #222;
    padding: 10px;
    border-width: 2px;
    color: white;
}

.todo-heading {
    display: flex;
    justify-content: space-between;
}

.todo-heading h3{
    color: white;
}

.todo-heading i {
    line-height: 2em;
}

.todo-heading i:hover {
    color: grey;
}

.todo-list {
    padding: 10px;
    font-size: 1em;
}

.todo-modal {
    z-index: 1;
    opacity: 0.1;
    position: absolute;
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    background-color: white;
}

.todo-overlay-modal {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
}

.todo-list-item-delete {
    display: none;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
}

.todo-list-item:hover .todo-list-item-delete{
    display: block;
    color: grey;
    line-height: 20px;
}